<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wsj.wanka.dao.UserInfoMapper">

    <select id="getUserInfo" parameterType="String" resultType="com.wsj.wanka.bean.UserInfo">
        select * from USER_INFO where USER_NAME = #{userName} and USER_PASS = #{userPass}
    </select>

</mapper>